.cart-box {
  border: 1px solid black;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
}
input[type="number"] {
  border: 2px solid #e4e4e4;
  width: 3em;
  border-radius: 0;
  padding: 7px;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  height: 2em;
}
input[type="number"]:focus {
  border: 2px solid #e4e4e4;
}
.tablee {
  border-top: 1px solid #e4e4e4;
  padding-top: 5px;
}
.table thead {
  border-top: 1px solid #e4e4e4;
}
.table tbody td {
  overflow: hidden;
  max-height: 12rem;

  /* background-color: aqua; */
}
.cart-img {
  width: 100px;
  height: 120px;
}
.cart-col {
  text-transform: uppercase;
  font-weight: bold;
background-color: bisque;
}
.table p {
  font-weight: 500;
  color: #5b5a5a;
  font-size: medium;
}
.btncheck {
  background-color: bisque;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 17px;
  font-size: medium;
  border: none;
  text-transform: uppercase;
  border-radius: 0;
}
.btncheck:hover {
  background-color: rgb(255, 220, 177);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
